#name {
  font-size: 32px;
  font-weight: 700;
  box-sizing: border-box;
  border-right: 3px solid black;
  text-decoration: underline;
  color: #183D3D;
  overflow: hidden;
  text-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  width: 240px;
  animation:
    cursorBlink 1s infinite,
    textAnimation 2s steps(12);
}

@keyframes cursorBlink {
  50% {
    border-right-color: transparent;
  }
}

@keyframes textAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 240px;
  }
}