@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 40px;
  background-color: #F1F6F9;
  color: #242d34;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}